body {
  background-image: url("https://cdn.pixabay.com/photo/2016/08/02/07/45/the-polygon-1562743_1280.jpg");
  background-size: cover;
}

.main {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main p {
  margin: 20px 0px;
  font-weight: 700;
  color: rgb(250, 0, 0);
}

.main h1 {
  font-size: 40px;
  color: rgb(70, 70, 70);
  text-shadow: 3px 3px 3px #999;
  font-weight: 700;
  margin: 0px 0px 200px 0px;
}

.main form {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin: 0px 0px 300px 0px;
}

.main form select {
  width: 200px;
  height: 35px;

  outline: none;
  background: #fff;
  border: none;
  margin: 0px 15px;

  font-size: 18px;
  color: #222;

  border-radius: 7px;
  box-shadow: 3px 3px 3px #333;

  padding: 0px 10px;
  cursor: pointer;

  transition: 0.5s;
}

.main form select:hover {
  box-shadow: 3px 3px 3px skyblue;
  color: royalblue;
}

.main form input[type="submit"] {
  width: 100px;
  height: 35px;

  outline: none;
  background: none;
  border: none;

  border-radius: 7px;
  background-color: #fff;

  box-shadow: 3px 3px 3px rgb(230, 230, 230);

  font-size: 16px;
  cursor: pointer;
  font-weight: 700;
  transition: 0.5s;
  box-shadow: 3px 3px 3px #333;
}

.main form input[type="submit"]:hover {
  color: skyblue;
}
